@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#c31432), to(#240b36));
  background-image: linear-gradient(to right, #c31432, #240b36);
}

.side-bar-wrapper {
  width: 20%;
  position: fixed;
}

.side-bar {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.side-bar .ham {
  width: 100%;
  padding: 10px;
}

.side-bar .hamburger {
  display: block;
}

.side-bar .hamburger .toggle-hamburger {
  background-color: rgba(221, 221, 221, 0.89);
  width: 18px;
  height: 2px;
  margin: 3px;
}

.side-bar .profile-section {
  width: 40%;
  left: 30%;
  position: relative;
}

.username {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 18px;
  color: white;
  position: relative;
  top: 60%;
}

.nav-table, tr, td {
  width: 80%;
  margin: auto;
}

.nav-table .nav-options, tr .nav-options, td .nav-options {
  list-style-type: none;
  padding: 12px;
}

.nav-table .nav-options span, .nav-table .nav-options i, tr .nav-options span, tr .nav-options i, td .nav-options span, td .nav-options i {
  padding-right: 5px;
  color: white;
}

.nav-table .nav-options .nav-links, tr .nav-options .nav-links, td .nav-options .nav-links {
  color: #afafaf;
  text-decoration: none;
}

tr:hover {
  background-color: #ff6611;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

tr:hover .nav-options .nav-links {
  color: white;
}

.main-dash-wrapper {
  width: 80%;
  position: absolute;
  right: 0;
  top: 0;
}

.main-dash-wrapper .navbar {
  border-radius: 0;
}

.main-dash-wrapper .nav-dsgn {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-style {
  font-family: 'Poppins',sans-serif;
  color: #ff6611;
}

a:hover {
  background-color: transparent;
  color: white;
}

.nav > li > a:link {
  color: #ff6611;
}

.nav > li > a:visited {
  color: #ff6611;
}

.nav > li > a:hover {
  background-color: transparent;
  color: #ff6611;
}

.dash-data {
  width: 90%;
  margin: auto;
}

.dash-data .cont {
  height: 45vh;
}

.dash-data .cont .sec-a {
  padding-left: 0;
}

.dash-data .cont .sec-a .sec-a-wrapper {
  width: 98%;
  min-height: 38vh;
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}

.dash-data .cont .sec-b {
  height: 38vh;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}

.dash-data .cont .sec-c {
  height: 38vh;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}

#dash-content-wrapper {
  width: 100%;
}

#dash-content-wrapper .dash-content {
  width: 90%;
  margin: auto;
}

#dash-content-wrapper .dash-content .evt, #dash-content-wrapper .dash-content .ntf, #dash-content-wrapper .dash-content .mbr, #dash-content-wrapper .dash-content .adm {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c31432), to(#240b36));
  background-image: linear-gradient(to bottom, #c31432, #240b36);
  margin: 20px;
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 80% 0%, 100% 20%, 100% 100%);
          clip-path: polygon(0% 100%, 0% 0%, 80% 0%, 100% 20%, 100% 100%);
  padding-bottom: 10px;
}

#dash-content-wrapper .dash-content .inside {
  -webkit-clip-path: polygon(0% 80%, 0% 0%, 80% 0%, 100% 20%, 100% 100%, 20% 100%);
          clip-path: polygon(0% 80%, 0% 0%, 80% 0%, 100% 20%, 100% 100%, 20% 100%);
  background: rgba(11, 11, 11, 0.62);
}

#dash-content-wrapper .dash-content .content {
  width: 90%;
  padding: 20px 20px 20px 50px;
}

#dash-content-wrapper .dash-content .content .main-options {
  padding-bottom: 20px;
}

#dash-content-wrapper .dash-content .content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ff6611;
  padding-left: 0;
}

#dash-content-wrapper .dash-content .content .links .links-items {
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #ff6611;
}

#dash-content-wrapper .dash-content .content .links .links-items .links-active {
  text-decoration: none;
  color: #ff6611;
}

#dash-content-wrapper .dash-content .content .links .links-items:hover {
  background-color: #c06534;
}

#dash-content-wrapper .dash-content .sr {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c31432), to(#240b36));
  background-image: linear-gradient(to bottom, #c31432, #240b36);
  margin: 20px;
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 90% 0%, 100% 20%, 100% 100%);
          clip-path: polygon(0% 100%, 0% 0%, 90% 0%, 100% 20%, 100% 100%);
  padding-bottom: 20px;
  min-height: 20vh;
}

#dash-content-wrapper .dash-content .sr .inner-sr {
  -webkit-clip-path: polygon(0% 80%, 0% 0%, 90% 0%, 100% 20%, 100% 100%, 10% 100%);
          clip-path: polygon(0% 80%, 0% 0%, 90% 0%, 100% 20%, 100% 100%, 10% 100%);
  background: rgba(11, 11, 11, 0.62);
  min-height: 20vh;
}

.fnt {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bolder;
  color: #ff6611;
  padding-left: 20px;
  padding-top: 20px;
}

.fnt2 {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}

#add-evt-form .form-control, #search-event .form-control, #search-notifications .form-control, #search-admin .form-control {
  border: 1px solid #ff6611;
  background-color: transparent;
  color: #ff6611;
}

#add-evt-form ::-webkit-input-placeholder, #search-event ::-webkit-input-placeholder, #search-notifications ::-webkit-input-placeholder, #search-admin ::-webkit-input-placeholder {
  color: #ff6611;
}

#add-evt-form :-ms-input-placeholder, #search-event :-ms-input-placeholder, #search-notifications :-ms-input-placeholder, #search-admin :-ms-input-placeholder {
  color: #ff6611;
}

#add-evt-form ::-ms-input-placeholder, #search-event ::-ms-input-placeholder, #search-notifications ::-ms-input-placeholder, #search-admin ::-ms-input-placeholder {
  color: #ff6611;
}

#add-evt-form ::placeholder, #search-event ::placeholder, #search-notifications ::placeholder, #search-admin ::placeholder {
  color: #ff6611;
}

#update-evt-form .form-control, #update-ntf-form .form-control {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

#update-evt-form ::-webkit-input-placeholder, #update-ntf-form ::-webkit-input-placeholder {
  color: white;
}

#update-evt-form :-ms-input-placeholder, #update-ntf-form :-ms-input-placeholder {
  color: white;
}

#update-evt-form ::-ms-input-placeholder, #update-ntf-form ::-ms-input-placeholder {
  color: white;
}

#update-evt-form ::placeholder, #update-ntf-form ::placeholder {
  color: white;
}

.status #status {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.active {
  display: block;
}

.deactive {
  display: none;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.modal-dialog {
  margin: 50px auto;
  width: 700px;
}

.mdl-content {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c31432), to(#240b36));
  background-image: linear-gradient(to bottom, #c31432, #240b36);
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 80% 0%, 100% 20%, 100% 100%);
          clip-path: polygon(0% 100%, 0% 0%, 80% 0%, 100% 20%, 100% 100%);
  padding: 30px;
  overflow-y: hidden;
}

.mdl-content .modal-header {
  border: none;
  margin-right: 50px;
}

.mdl-content .modal-header .modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mdl-content .modal-header .modal-title .mdl-back {
  background: transparent;
  color: #ff6611;
  font-family: "Roboto";
  font-size: 20px;
}

.mdl-inside {
  width: 90%;
  margin: auto;
  -webkit-clip-path: polygon(0% 90%, 0% 0%, 80% 0%, 100% 19%, 100% 100%, 10% 100%);
          clip-path: polygon(0% 90%, 0% 0%, 80% 0%, 100% 19%, 100% 100%, 10% 100%);
  background: rgba(11, 11, 11, 0.62);
}

.uni {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c31432), to(#240b36));
  background-image: linear-gradient(to bottom, #c31432, #240b36);
}

.mdl-btn {
  background: transparent;
  border: 1px solid #ff6611;
  font-family: "Roboto";
  font-size: 20px;
  color: #ff6611;
  width: 80px;
}

.mdl-btn:hover {
  color: red;
  border: 1px solid red;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

#evt-view-table, #ntf-view-table {
  border: none;
  padding: 20px;
  overflow-y: hidden;
}

#evt-view-table th, #ntf-view-table th {
  color: #ff6611;
  font-family: "Roboto";
  font-size: 15px;
  -webkit-column-span: 2;
          column-span: 2;
  border-top: none;
}

#evt-view-table tr, #ntf-view-table tr {
  padding: 10px;
}

#evt-view-table tr td, #ntf-view-table tr td {
  color: #ff6611;
  padding: 10px;
  width: 80px;
  border-top: none;
  overflow-x: scroll;
}

#evt-view-table tr td span, #ntf-view-table tr td span {
  color: #ff6611;
}

#evt-view-table tr:hover, #ntf-view-table tr:hover {
  background-color: #c06534;
}
/*# sourceMappingURL=admin-dash.css.map */