.nav-wrapper {
    padding: 0;
    position: sticky !important;
    width: 100%;
    z-index: 0 !important;
    margin-bottom:0% !important;
  }
  
  .navbar {
    border-radius: 0;
    border-bottom: 0;
  }
  
  .navbar-inverse {
    background-color: transparent;
    border-bottom: 0;
  }
  
  .navbar-inverse .navbar-brand {
    padding-top: 10px;
  }
  
  .navbar-inverse .navbar-brand:hover {
    color: white;
  }
  
  .navbar-inverse .navbar-toggle {
    border: none;
    background-color: transparent;
  }
  
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: white;
  }
  
  .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
  }
  
  .nav-container {
    width: 90%;
    margin: auto;
    border-bottom: 0;
  }
  
  .navbar-inverse .navbar-nav > li > a {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  
  .navbar-inverse .navbar-nav > li > a:hover {
    border-bottom: 1px solid white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  #nav-first-active {
    color: white;
    font-weight: 900;
  }
  .notifications{
      margin: 0;
      color: white;
      font-family: 'Times New Roman', Times, serif;
  }
  .notifications .heading{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
  }
  .notifications .notifications-list{
      padding-right: 7%;
      padding-left: 7%;
  }
  .notifications .notifications-list .notification{
    margin: 0;
  }
  .notifications .notifications-list .notification .title{
    margin: 0;
    padding-left: 7px;
    font-weight: bold;
    color: white;
  }
  .notifications .notifications-list .notification .description{
      margin: 0;
      padding-left: 7px;
      font-size: large;
      font-style: oblique;
      text-decoration: none;
  }
  .notifications .notifications-list .notification .date {
    margin: 2px;
    padding-left: 7px;
    font-size: medium;
    font-style: italic;
    text-decoration: none;
  } 
  