:root{
    --primary-dark-background: #111111;
    --primary-dark-highlight: #ff6611;
    --primary-light-background: #ffffff;
    --primary-light-highlight: #008afb;
    --primary-btn-backgrnd: #ff6611;
}

.dropbtn{
    background: var(--primary-dark-background);
    border: 2px solid var(--primary-dark-background);
    transition: transform 0.1s;
}

.dropbtn:hover{
    transform: rotate(360deg);
}

body{
    height: 100%;
    background-color: var(--primary-dark-background);
    margin: 0;
}

.main_header,.main_footer{
    width:100%;
}

.main_header {
    background-color: var(--primary-dark-highlight);
    padding: 15px 0px;
    position: fixed;
    width: 100%;
}

.header-logo{
    padding: 0px;
    margin-left: 80px;
}

.mobil{
    display: none;
}

.main_footer{
    position: fixed;
    color:var(--primary-dark-highlight);
    background-color: var(--primary-dark-background);
    padding: 27px;
    top: 80%;
    margin-bottom: 0;
    border-top: 0.5px solid var(--primary-dark-highlight);
}

.nav-links{
    display: flex; 
}

.navlink{
    margin-left: 40px;
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom o.3s;
}

.navlink:hover{
    border-bottom: 2px solid black;
}

.navlink a{
    text-decoration: none;
    color: black;
}

.navlink a:hover{
    text-decoration: none;
    color: black;
}


.drop-down{
    padding: 10px 20px;
    background: var(--primary-dark-background);
    display: none;
}

#mobileHeader{
    border-bottom: 2px solid white ;
}

@media screen and (max-width: 768px){
    .show{
        display: all;
    }

    .main_header{
        background-color: var(--primary-dark-background);
        max-height: 340px;
        position: relative;
        display: block;
        width: 40%;
        max-width: 160px;
        border-right: 4px solid var(--primary-dark-highlight);
        border-bottom: 4px solid var(--primary-dark-highlight);
    }

    .header-logo{
        display: none;
    }

    .drop-down{
        display: block;
        width: 100%;
    }

    i{
        cursor: pointer;
    }
    .nav-links{
        padding: 0;
        margin-top: 0px;
        display: block;
        align-content: center;
        text-align: center;
        width: 100%;
        background-color: var(--primary-dark-background);
    }

    .navlink:hover{
        border-bottom: 2px solid var(--primary-dark-highlight);
        color: white;
    }
    .nav-links a{
        color: var(--primary-dark-highlight);
        font-weight: 50;
        font-size: 80%;
    }
    
    .nav-links a:hover{
        color: white;
    }
    .navlink{
        color: var(--primary-dark-highlight);
        padding: 0px;
        margin-left: 20px;
    }

    .active {
        display: none;
    }
}