<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>MCC TEZU | HOME</title>
  <link rel="icon" href="{{ url_for('static', filename='img/app_icon.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<div id="mainheadfull">HOME</div>
</head>

<body>
  
    <a href="/events">Events</a>
    <a href="/members">Members</a>
    <a href="/notifications">Notifications</a> 
    <a href="/publications">Publications</a>
    <a href="/our-services">Our Services</a>
    <a href="/contacts">Contact</a>

 <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
