<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>MCC TEZU | HOME</title>
  <link rel="icon" href="{{ url_for('static', filename='img/app_icon.png') }}">
  <script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>

<body>
  <div class="main_header">
    <a href="/">Home</a>
    <a href="/events">Events</a>
    <a href="/members">Members</a>
    <a href="/notifications">Notifications</a> 
    <a href="/publications">Publications</a>
    <a href="/our-services">Our Services</a>
    <a href="/contacts">Contact</a>
  </div>
    

 <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
