{% extends "admin-dash-layout.html" %}
{% block header_links %}
<link rel="stylesheet" type="text/css" href="../static/css/swiper.min.css">
{% endblock %}
{% block content %}
<section id="dash-content-wrapper">
    <div class="container dash-content">
        <div class="row row1">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="col-xs-12 col-sm-10 col-md-5 evt">
                            <div class="inside">
                                <h3 class="r1h1 fnt">Events</h3>
                                <div class='content'>
                                    <div class="main-options">
                                        <ul class="links">
                                            <li class="links-items add" data-toggle="modal" data-target="#event-add-form">
                                                <a href="#" class="links-active">
                                                    ADD
                                                </a>
                                            </li>                                
                                            <li class="links-items" data-toggle='modal' data-target="#viewevents">
                                                <a href="#" class="links-active">
                                                    VIEW
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="col-xs-12 col-sm-10 col-md-5 ntf">
                            <div class="inside">
                                <h3 class="r1h1 fnt">Notifications</h3>
                                <div class='content'>
                                    <div class="main-options">
                                        <ul class="links">
                                            <li class="links-items add" data-toggle="modal" data-target="#ntf-add-form">
                                                <a href="#" class="links-active">
                                                    ADD
                                                </a>
                                            </li>                                    
                                            <li class="links-items" data-toggle="modal" data-target="#viewntf">
                                                <a href="#" class="links-active">
                                                    VIEW
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="col-xs-12 col-sm-10 col-md-5 mbr">
                            <div class="inside">
                                <h3 class="r1h1 fnt">Members</h3>
                                <div class='content'>
                                    <div class="main-options">
                                        <ul class="links">
                                            <li class="links-items add">
                                                <a href="#" class="links-active">
                                                    ADD
                                                </a>
                                            </li>                                           
                                            <li class="links-items">
                                                <a href="#" class="links-active">
                                                    VIEW
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="col-xs-12 col-sm-10 col-md-5 adm">
                            <div class="inside">
                                <h3 class="r1h1 fnt">Admins</h3>
                                <div class='content'>
                                    <div class="main-options">
                                        <ul class="links">
                                            <li class="links-items add" data-toggle="modal" data-target="#adm-add-form">
                                                <a href="#" class="links-active">
                                                    ADD
                                                </a>
                                            </li>                                           
                                            <li class="links-items" data-toggle="modal" data-target="#viewadm">
                                                <a href="#" class="links-active">
                                                    VIEW
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row2">
            <div class="col-xs-12 col-sm-10 col-md-8 sr">
                <div class="inner-sr">
                    <div class="sr-content">
                        <h3 class="r2h2 fnt">Status Response</h3>
                        <div class="status">
                            {% if res=="Success" %}
                                <span id='status' style="color:rgb(15, 167, 15);">SUCCESS</span>
                            {% elif res=="Failure" %}
                                <span id='status' style="color:red;">FAILURE</span>
                            {% else %}
                                <span id='status' style="color:#ff6611;">NO RESPONSE</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block modals %}
<!--ADD EVENT MODAL-->
<div class="modal fade" id="event-add-form" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content mdl-content">
            <div class="mdl-inside">
                <div class="modal-header">
                    <div class="modal-title fnt">ADD EVENTS
                        <button type="button" class="btn mdl-back" data-dismiss="modal">Back</button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="add-event-form-wrapper">
                        <form method="POST" id="add-evt-form" action="/admin-add-event">
                            {{evt.csrf_token}}
                            {{renderevent(evt.name,placeholder=evt.name.label.text)}}
                            {{renderevent(evt.org,placeholder=evt.org.label.text)}}
                            {{renderevent(evt.date,placeholder='YYYY-MM-DD')}}
                            {{renderevent(evt.time,placeholder=evt.time.label.text)}}
                            {{renderevent(evt.venue,placeholder=evt.venue.label.text)}}
                            <div class="form-group text-right">
                                <button class="btn mdl-btn">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END ADD EVENT MODAL-->

<!--VIEW EVENT MODAL-->
<div class="modal fade" id="viewevents" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content mdl-content">
            <div class="mdl-inside" style="width:95%;padding:20px;">
                <div class="modal-header">
                    <div class="modal-title fnt">
                        EVENTS 
                        <button type="button" class="btn mdl-back" data-dismiss="modal">Back</button>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="search-event">
                        <div class="form-group">
                            <input type="text" placeholder="Search" name="event-search" class="form-control" id="event-search">
                        </div>
                    </form>
                    <table id="evt-view-table" class="table">
                        <tr>
                            <th>Event</th>
                            <th>Org</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Venue</th>
                            <th>Image</th>
                            <th></th>
                            <th></th>
                        </tr>   
                        <tbody id="event-table" style="border-top: none;">
                        {% for e in events %}
                            <tr>
                                <td>{{e.evt_name}}</td>
                                <td>{{e.evt_org}}</td>
                                <td>{{e.evt_date}}</td>
                                <td>{{e.evt_time}}</td>
                                <td>{{e.evt_venue}}</td>
                                <td style="overflow-x: scroll;" data-toggle="modal" data-target="#image{{e.id}}">{{e.evt_image}}</td>
                                <td style="width:20px;"><a href="/admin-delete-event/{{e.id}}"><span class="glyphicon glyphicon-trash"></span></a></td>
                                <td style="width:20px;"><span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#update{{e.id}}"></span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END VIEW EVENT MODAL-->

<!--UPDATE EVENT MODAL-->
{% for e in events %}
<div class="modal fade" id="update{{e.id}}" role="dialog">
    <div class="modal-dialog modal-centered" role="document">
        <div class="modal-content uni">
            <div class="mdl-inside" style="width:95%;padding:20px;">
                <div class="modal-header">
                    <div class="modal-title fnt2">
                        UPDATE {{e.evt_name}}
                    </div>
                </div>
                <div class="modal-body">
                    <div class="update-event-form-wrapper">
                        <form method="POST" id="update-evt-form" action="/admin-update-event/{{e.id}}">
                            {{renderevent(evt.name,value=e.evt_name)}}
                            {{renderevent(evt.org,value=e.evt_org)}}
                            {{renderevent(evt.date,value=e.evt_date)}}
                            {{renderevent(evt.time,value=e.evt_time)}}
                            {{renderevent(evt.venue,value=e.evt_venue)}}
                            <div class="form-group text-right">
                                <button class="btn mdl-btn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="image{{e.id}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title fn2">EVENT IMAGE {{e.evt_name}}</div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!--END UPDATE EVENT MODAL-->

<!--NOTIFICATION ADD MODAL-->
<div class="modal fade" id="ntf-add-form" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content mdl-content">
            <div class="mdl-inside">
                <div class="modal-header">
                    <div class="modal-title fnt">ADD NOTIFICATIONS
                        <button type="button" class="btn mdl-back" data-dismiss="modal">Back</button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="add-notification-form-wrapper">
                        <form method="POST" id="add-evt-form" action="/admin-add-notifications">
                            {{ntf.csrf_token}}
                            {{rendernotifications(ntf.id,placeholder=ntf.id.label.text)}}
                            {{rendernotifications(ntf.title,placeholder=ntf.title.label.text)}}
                            {{rendernotifications(ntf.description,placeholder=ntf.description.label.text)}}
                            <div class="form-group text-right">
                                <button class="btn mdl-btn">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END NTF ADD MODAL-->

<!--VIEW NOTIFICATION MODAL-->
<div class="modal fade" id="viewntf" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content mdl-content">
            <div class="mdl-inside" style="width:95%;padding:20px;">
                <div class="modal-header">
                    <div class="modal-title fnt">
                        NOTIFICATIONS 
                        <button type="button" class="btn mdl-back" data-dismiss="modal">Back</button>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="search-notifications">
                        <div class="form-group">
                            <input type="text" placeholder="Search" name="notification-search" class="form-control" id="notification-search">
                        </div>
                    </form>
                    <table id="ntf-view-table" class="table">
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th></th>
                            <th></th>
                          </tr>
                        <tbody id="event-table" style="border-top: none;">
                        {% for x in notifications %}
                            <tr>
                                <td>{{x._id}}</td>
                                <td>{{x.date}}</td>
                                <td>{{x.title}}</td>
                                <td>{{x.notification}}</td>
                                <td style="width:20px;"><a href="{{url_for('admin.admin_delete_notifications',id=x._id)}}"><span class="glyphicon glyphicon-trash"></span></a></td>
                                <td style="width:20px;"><span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#updatentf{{x._id}}"></span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END VIEW NOTIFICATION MODAL-->

<!--UPDATE NOTIFICATION MODAL-->
{% for x in notifications %}
<div class="modal fade" id="updatentf{{x._id}}" role="dialog">
    <div class="modal-dialog modal-centered" role="document">
        <div class="modal-content uni">
            <div class="mdl-inside" style="width:95%;padding:20px;">
                <div class="modal-header">
                    <div class="modal-title fnt2">
                        UPDATE {{x.title}}
                    </div>
                </div>
                <div class="modal-body">
                    <div class="update-event-form-wrapper">
                        <form method="POST" id="update-ntf-form" action="/admin-update-notifications">
                            {{rendernotifications(ntf.id,value=x._id)}}
                            <div class="form-group">
                                <input class="form-control" type="date" value="{{x.date}}" name='date'>
                            </div>
                            {{rendernotifications(ntf.title,value=x.title)}}
                            {{rendernotifications(ntf.description,value=x.notification)}}
                            <div class="form-group text-right">
                                <button class="btn mdl-btn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!--END UPDATE NOTIFICATION MODAL-->

<!--ADD ADMIN MODAL-->
<div class="modal fade" id="adm-add-form" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content mdl-content">
            <div class="mdl-inside">
                <div class="modal-header">
                    <div class="modal-title fnt">ADD ADMIN
                        <button type="button" class="btn mdl-back" data-dismiss="modal">Back</button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="add-event-form-wrapper">
                        <form method="POST" id="add-evt-form" action="/admin-add-one">
                            {{adm.csrf_token}}
                            {{renderadmin(adm.fullname,placeholder=adm.fullname.label.text)}}
                            {{renderadmin(adm.username,placeholder=adm.username.label.text)}}
                            {{renderadmin(adm.password,placeholder=adm.password.label.text)}}
                            {{renderadmin(adm.confirm,placeholder=adm.confirm.label.text)}}
                            <div class="form-group text-right">
                                <button class="btn mdl-btn">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END ADD ADMIN MODAL-->

<!--VIEW ADMIN MODAL-->
<div class="modal fade" id="viewadm" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content mdl-content">
            <div class="mdl-inside" style="width:95%;padding:20px;">
                <div class="modal-header">
                    <div class="modal-title fnt">
                        ADMIN
                        <button type="button" class="btn mdl-back" data-dismiss="modal">Back</button>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="search-admin">
                        <div class="form-group">
                            <input type="text" placeholder="Search" name="admin-search" class="form-control" id="admin-search">
                        </div>
                    </form>
                    <table id="evt-view-table" class="table">
                        <tr>
                            <th>Fullname</th>
                            <th>Username</th>
                        </tr>   
                        <tbody id="event-table" style="border-top: none;">
                        {% for a in admin %}
                            <tr>
                                <td>{{a.fullname}}</td>
                                <td>{{a.username}}</td>
                                <td style="width:20px;"><a href="/admin-delete/{{a.username}}"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END VIEW ADMIN MODAL-->

{% endblock %}
{% block scripts %}
<script src="../static/js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
</script>
<script>
    //----EVENT KEYUP SEARCH----
    $(document).ready(function(){
      $("#event-search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#event-table tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    //----NOTIFICATION KEYUP SEARCH----
    $(document).ready(function(){
      $("#notification-search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#event-table tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    //----ADMIN KEYUP SEARCH----
    $(document).ready(function(){
      $("#admin-search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#event-table tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

</script>
{% endblock %}