{% extends "layout.html" %}
{% block headerlinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/notifications.css')}}">
{% endblock %}
{% block content %}

<!--Put your Members Content here-->

<section style="background-color: #eff5f5;">
    <div class="our-team  ftco-animate container align-items-center">
      <h3 class="heading"><span style="color:#ff6611;">OUR</span><span> TEAM</span></h3>
      <p>“Try never to be the smartest person in the room. And if you are, </p><p> I suggest you invite smarter people… or find a different room.”</p>
      <div>
        <div class="row">
        <div class="col-sm member-card">
          <div class="card ftco-animate" style="width: 18rem;">
            <img src="..." class="card-img-top" style="background-color: rgb(39, 39, 39); width: 18rem !important; height: 18rem !important;" alt="...">
            <div class="card-body ftco-animate">
              <h5 class="card-title">Name</h5>
          
              <ul class=" list-unstyled">
                <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon fa fa-paper-plane"></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm member-card">
          <div class="card ftco-animate" style="width: 18rem;">
    <img src="..." class="card-img-top" style="background-color: rgb(39, 39, 39); width: 18rem !important; height: 18rem !important;" alt="...">
    <div class="card-body ftco-animate">
      <h5 class="card-title">Name</h5>
  
      <ul class=" list-unstyled">
                <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon fa fa-paper-plane"></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
    </div>
  </div>
        </div>
        <div class="col-sm member-card">
          <div class="card ftco-animate" style="width: 18rem;">
    <img src="..." class="card-img-top" style="background-color: rgb(39, 39, 39); width: 18rem !important; height: 18rem !important;" alt="...">
    <div class="card-body ftco-animate">
      <h5 class="card-title">Name</h5>
  
      <ul class=" list-unstyled">
                <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon fa fa-paper-plane"></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
    </div>
  </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm member-card">
          <div class="card ftco-animate" style="width: 18rem;">
            <img src="..." class="card-img-top" style="background-color: rgb(39, 39, 39); width: 18rem !important; height: 18rem !important;" alt="...">
            <div class="card-body ftco-animate">
              <h5 class="card-title">Name</h5>
          
              <ul class="list-unstyled">
                <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon fa fa-paper-plane"></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm member-card">
          <div class="card ftco-animate" style="width: 18rem;">
    <img src="..." class="card-img-top" style="background-color: rgb(39, 39, 39); width: 18rem !important; height: 18rem !important;" alt="...">
    <div class="card-body ftco-animate">
      <h5 class="card-title">Name</h5>
  
      <ul class=" list-unstyled">
                <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon fa fa-paper-plane"></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
    </div>
  </div>
        </div>
        <div class="col-sm member-card">
          <div class="card ftco-animate" style="width: 18rem;">
    <img src="..." class="card-img-top" style="background-color: rgb(39, 39, 39); width: 18rem !important; height: 18rem !important;" alt="...">
    <div class="card-body ftco-animate">
      <h5 class="card-title">Name</h5>
  
      <ul class=" list-unstyled">
                <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon fa fa-paper-plane"></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
    </div>
  </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm member-card">
          <div class="card ftco-animate" style="width: 18rem;">
            <img src="..." class="card-img-top" style="background-color: rgb(39, 39, 39); width: 18rem !important; height: 18rem !important;" alt="...">
            <div class="card-body ftco-animate">
              <h5 class="card-title">Name</h5>
          
              <ul class=" list-unstyled ">
                <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon fa fa-paper-plane"></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm member-card">
          <div class="card ftco-animate" style="width: 18rem;">
    <img src="..." class="card-img-top" style="background-color: rgb(39, 39, 39); width: 18rem !important; height: 18rem !important;" alt="...">
    <div class="card-body ftco-animate">
      <h5 class="card-title">Name</h5>
  
      <ul class="list-unstyled">
                <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon fa fa-paper-plane"></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
    </div>
  </div>
        </div>
        <div class="col-sm member-card">
          <div class="card ftco-animate" style="width: 18rem;">
    <img src="..." class="card-img-top" style="background-color: rgb(39, 39, 39); width: 18rem !important; height: 18rem !important;" alt="...">
    <div class="card-body ftco-animate">
      <h5 class="card-title">Name</h5>
  
      <ul class=" list-unstyled">
                <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon fa fa-paper-plane"></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
    </div>
  </div>
        </div>
      </div>
    </div>
      
    </div>
    
  
  </section>
  

{% endblock %}